body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,'Avenir',"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

a {
	color: #42b983;
}

img {
	max-width: 100%;
	height: auto;
}

pre {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size: 1em;
}

figure {
	margin: 0;
}
